<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kesen.echo">
    <!-- To access Google+ APIs: -->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <uses-sdk

        android:targetSdkVersion="27" />


    <application
        android:name="com.kesen.appfire.utils.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl,android:allowBackup"
        >
        <activity
            android:name=".AndroidLauncher"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/GdxTheme.NotFullscreen">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>



        <!-- ACTIVITIES -->

        <activity
            android:name="com.kesen.appfire.activities.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
             />
        <activity
            android:name="com.kesen.appfire.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kesen.appfire.activities.SplashActivity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity
            android:name="com.kesen.appfire.activities.NewChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kesen.appfire.activities.ChatActivity"
            android:label=""
            android:parentActivityName="com.kesen.appfire.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kesen.appfire.activities.FullscreenActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        <activity
            android:name="com.kesen.appfire.activities.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kesen.appfire.activities.ProfilePhotoDialog"
            android:theme="@style/DialogTheme" />
        <activity
            android:name="com.kesen.appfire.activities.ForwardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- these intent filters to receive data from other apps including images,videos,audio,contacts -->


            <!-- receive text -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- receive one image -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <!-- receive multiple images -->

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <!-- receive one video only -->

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>

            <!-- receive one audio -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>

            <!-- receive contacts -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/x-vcard" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kesen.appfire.activities.UserDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kesen.appfire.activities.MediaGalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kesen.appfire.activities.SelectContactNumbersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kesen.appfire.activities.ContactDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kesen.appfire.activities.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.kesen.appfire.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kesen.appfire.activities.ProfilePhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name="com.kesen.appfire.activities.SetupUserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- SERVICES -->

        <!--<service-->
        <!--android:name=".services.NotificationService"-->
        <!--android:enabled="true"-->
        <!--android:exported="true" />-->

        <!--<service-->
        <!--android:name=".services.NotificationJobIntentService"-->
        <!--android:permission="android.permission.BIND_JOB_SERVICE" />-->

        <!--<receiver android:name=".services.NotificationService" />-->
        <service
            android:name="com.kesen.appfire.job.NetworkJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.kesen.appfire.job.SaveTokenJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name="com.kesen.appfire.job.SetLastSeenJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name="com.kesen.appfire.job.SyncContactsJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.kesen.appfire.services.MyFCMService"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

        </service>

        <service
            android:name="com.kesen.appfire.services.FCMRegistrationService"
            android:exported="false" />

        <service
            android:name="com.kesen.appfire.services.InternetConnectedListener"
            android:enabled="true"
            android:exported="false" />
        <service android:name="com.kesen.appfire.services.NetworkService" />
        <service
            android:name="com.kesen.appfire.services.AudioService"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="com.kesen.appfire.receivers.HandleReplyReceiver"
            android:exported="false" />
        <service
            android:name="com.kesen.appfire.services.SyncContactsService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <activity
            android:name="com.kesen.appfire.activities.NewGroupActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>